<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>687552746508-abhrik3hm4hm2dr6cnn5u19hdugu16h1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687552746508-abhrik3hm4hm2dr6cnn5u19hdugu16h1</string>
	<key>API_KEY</key>
	<string>AIzaSyAfzeC09bDUZDuc5RVx5GZrr793KNFpHd4</string>
	<key>GCM_SENDER_ID</key>
	<string>687552746508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DefaultCompany.PsychoBubbles</string>
	<key>PROJECT_ID</key>
	<string>psycho-bubbles</string>
	<key>STORAGE_BUCKET</key>
	<string>psycho-bubbles.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687552746508:ios:a9b1b07ec270e491e20a29</string>
</dict>
</plist>